.load{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    display: grid;
    justify-content: center;
    align-items: center;
    visibility: visible;
    z-index: 999;
    transition: all 0.3s linear;  

}
.html{
    font-family: "Sofia Pro, Helvetica, sans-serif" !important;
}
.nav-item p,.content-wrapper{
    font-size: 14px;
    font-family: "Sofia Pro, Helvetica, sans-serif" !important;

}
